nav.white(role='navigation')
  .nav-wrapper.container
    a#logo-container.brand-logo.black-text(href='/')
      img.navbar-logo(src='/img/logo.png')
      | ladder

    ul.right.hide-on-med-and-down
      include topMenu

    ul#nav-mobile.side-nav
      include topMenu

    a.button-collapse.black-text(href='#', data-activates='nav-mobile')
      i.material-icons menu
